body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td {
    font-size: 15pt;
}

img {
    height: 27%;
    margin: 70px 170px 70px 60px;
}

p {
    font-weight: bold;
    color: #EE694E;
}

#ps {
    border: solid 1.4px #5A6A5D;
    font-weight: bold;
    color: #EE694E;
    border-radius: 0.8;
    line-height: 10;
}
